.mainHeader {
  background: $fakeWhite;

  &__container {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    height: 60px;

    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__search {
    background: $almostGray;
    width: 100%;
    max-width: 178px;
    border: 1px solid $almostGray;
    border-radius: 8px;
    padding: 6px 8px;
    font-size: 14px;

    &::placeholder {
      color: $chocolate;
    }
  }

  &__left,
  &__right {
    display: flex;
    align-items: center;
  }

  &__left img {
    margin-right: 30px;
  }

  &__right .createQuiz {
    background: $dirtBlack;
    height: 39px;
    width: 167px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid $dirtBlack;
    color: #fff;
    text-decoration: none;
    border-radius: 8px;
    font-size: 18px;
  }

  &__right > * {
    margin-right: 15px;
  }

  .userImage {
    height: 44px;
    width: 44px;
    background: #333;
    border-radius: 50%;
    border: 1px solid #555;
  }
}
